.whatisAI {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 1) ;
}

.whatisAI-feature {
    display: flex;
}
.whatisAI-feature .features-container__feature {
    margin: 0;
}

.whatisAI-feature .features-container_feature-text {
    max-width: 700px;
}

.whatisAI-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.whatisAI-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}


.whatisAI-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

.whatisAI-container .features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

.whatisAI-container .features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .whatisAI-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }
 
}
@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .whatisAI-feature .features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .whatisAI-feature .features-container_feature-text {
        margin-top: 0.5rem;
    }

    .whatisAI-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    .whatisAI-container .features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}