* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {

  /* global 90%+ browsers support */
  background:conic-gradient(from 94deg at 49% 0%, rgba(0, 0, 0, 1) 0%, rgba(38, 24, 63, 1) 49%, rgba(35, 68, 150, 1) 56%, rgba(0, 0, 0, 1) 100%);

}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
    padding-top: 0rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}