@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

:root {
  --font-family:'Signika Negative', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #f0ebf5 1.84%, #8168b1 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #f0ebf5 -13.86%, #8168b1 99.55%);
  --color-bg:  rgb(23, 14, 39);
  --color-footer : #000;
  --color-blog: #231f20;
  --color-text: #fff;;
  --color-subtext: #ebe9eb;;
}
